.add-board {
    visibility: hidden;
    opacity: 0;
    width: 100%;

}

.add-board.active {
    display: flex;
    justify-content: right;
    opacity: 1;
    visibility: visible;
    transition: 0.2s;
}

.input__board {
    display: flex;
    justify-content: center;
    width: 150px;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.input__board.active {
    position: absolute;
    border: 1px solid #D1D5DB;
    transform: translateY(-25px);
    z-index: 100;
    border-radius: 4px;
    opacity: 1;
    visibility: visible;
}

.input__box {
    width: 100%;
}